<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Interactive NBA History</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body >
        <% const year = pageYear %>
        
        <header class="">
            <nav class="flex">
                <section class="flex">
                    <a href="/" class="-m-1.5 p-1.5">
                      <span class="sr-only">An Interactive History of the NBA</span>
                    </a>
                </section>
                
                <section class="flex">
                    <div class="dropdown">
                        <button class="dropbtn">Brackets</button>
                        <div id="myDropdown" class="dropdown-content">
                          <% for (let i = 2022; i >= 1991; i--){ %>
                            <a href="<%= i %>"> <%= `${i}` %> </a>
                          <% } %>
                          <!-- Add more items as needed -->
                        </div>
                    </div>
        
                    <div class="flex">
                        <button class="dropbtn"><a href="<%= `${+year-1}` %>">prev</a></button>
                        <span class = 'year'> <%= `${year}` %> </span>
                        <button class="dropbtn"><a href="<%= `${+year+1}` %>">next</a></button>
                    </div>
                </section>

                <section class="flex">
                    <a href="/" class="-m-1.5 p-1.5">
                        <span class="sr-only">Contact</span>
                      </a>
                </section>
            </nav>
        </header>
        
          


      
      

      
        <section class="advance"><button>Advance</button></section>
        
        <main >
            <% const playoffMatchups = info[info.length - 1] %>

        

<!-- establishing array for each team, and the teamname associated with them -->

                  <% const west1st = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '1st')); %>
                  <% const west1stName = teamNames[info.indexOf(west1st)].slice(0,3) %>

                  <% const west8th = info.find((collection) => collection.some( item => item.conference === 'west' && item.seed === '8th')); %>
                  <% const west8thName = teamNames[info.indexOf(west8th)].slice(0,3) %>

                  <% const west4th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '4th')); %>
                  <% const west4thName = teamNames[info.indexOf(west4th)].slice(0,3) %>

                  <% const west5th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '5th')); %>
                  <% const west5thName = teamNames[info.indexOf(west5th)].slice(0,3) %>

                  <% const west2nd = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '2nd')); %>
                  <% const west2ndName = teamNames[info.indexOf(west2nd)].slice(0,3) %>

                  <% const west7th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '7th')); %>
                  <% const west7thName = teamNames[info.indexOf(west7th)].slice(0,3) %>

                  <% const west3rd = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '3rd')); %>
                  <% const west3rdName = teamNames[info.indexOf(west3rd)].slice(0,3) %>

                  <% const west6th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '6th')); %>
                  <% const west6thName = teamNames[info.indexOf(west6th)].slice(0,3) %>


                  <% const east1st = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '1st')); %>
                  <% const east1stName = teamNames[info.indexOf(east1st)].slice(0,3) %>

                  <% const east8th = info.find((collection) => collection.some( item => item.conference === 'east' && item.seed === '8th')); %>
                  <% const east8thName = teamNames[info.indexOf(east8th)].slice(0,3) %>

                  <% const east4th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '4th')); %>
                  <% const east4thName = teamNames[info.indexOf(east4th)].slice(0,3) %>
                

                  <% const east5th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '5th')); %>
                    
                  <% const east5thName = teamNames[info.indexOf(east5th)].slice(0,3) %>

                  <% const east2nd = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '2nd')); %>
                  <% const east2ndName = teamNames[info.indexOf(east2nd)].slice(0,3) %>

                  <% const east7th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '7th')); %>
                  <% const east7thName = teamNames[info.indexOf(east7th)].slice(0,3) %>

                  <% const east3rd = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '3rd')); %>
                  <% const east3rdName = teamNames[info.indexOf(east3rd)].slice(0,3) %>

                  <% const east6th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '6th')); %>
                  <% const east6thName = teamNames[info.indexOf(east6th)].slice(0,3) %>

           

   <!-- establishing the matchups and their winners -->                           

                  <% const west1st8thMatchup = playoffMatchups.find(item => (item.team1 === west1stName && item.team2 === west8thName) || (item.team2 === west1stName && item.team1 === west8thName)) %>
    <% const west1st8thWinner = west1st8thMatchup.team1Wins > west1st8thMatchup.team2Wins ? west1st8thMatchup.team1 : west1st8thMatchup.team2Wins; %>

    <% const west4th5thMatchup = playoffMatchups.find(item => (item.team1 === west4thName && item.team2 === west5thName) || (item.team2 === west4thName && item.team1 === west5thName)) %>
    <% const west4th5thWinner = west4th5thMatchup.team1Wins > west4th5thMatchup.team2Wins ? west4th5thMatchup.team1 : west4th5thMatchup.team2Wins; %>

    <% const west2nd7thMatchup = playoffMatchups.find(item => (item.team1 === west2ndName && item.team2 === west7thName) || (item.team1 === west7thName && item.team2 === west2ndName)) %>
    <% const west2nd7thWinner = west2nd7thMatchup.team1Wins > west2nd7thMatchup.team2Wins ? west2nd7thMatchup.team1 : west2nd7thMatchup.team2Wins; %>

    <% const west3rd6thMatchup = playoffMatchups.find(item => (item.team1 === west3rdName && item.team2 === west6thName) || (item.team1 === west6thName && item.team2 === west3rdName)) %>
    <% const west3rd6thWinner = west3rd6thMatchup.team1Wins > west3rd6thMatchup.team2Wins ? west3rd6thMatchup.team1 : west3rd6thMatchup.team2; %>
            

            <section class = 'conference west'>
                <section class = 'firstRound left top'>
                    <div class = 'firstLeft westOneEight click1' >  
                        <section class = 'matchupWest top'>
                            
                           
                            <img class='west1st' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west1stName.toLowerCase()}.png` %>" alt="">    
                            
                            <section class = gamesPlayed>
                                <% let topSeedWins = 0 %>
                                <% let lowSeedWins = 0 %>
                                
                                <% for (let i = 0; i < west1st8thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that the home team in these games is the "top"-->
                                        <% if (+west1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% console.log(west1st8thMatchup) %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west1st8thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west1st8thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+west1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west1st8thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west1st8thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %>
                               <% } %>   
                               
                            </section>

                            <img class = 'west8th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west8thName.toLowerCase()}.png` %>" alt="">     
                            
                        </section>
                    </div>
                    <div class = 'firstLeft westFourFive click1'>
                        <section class = 'matchupWest'>
                           
                            <img class='west4th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west4thName.toLowerCase()}.png` %>" alt="">    
                           
                            <section class = gamesPlayed>
                                <% topSeedWins = 0 %>
                                <% lowSeedWins = 0 %>
                                <% for (let i = 0; i < west4th5thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+west4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west4th5thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west4th5thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+west4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west4th5thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west4th5thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %> 
                                    <% } %> 
                            </section>

                            <img class = 'west5th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west5thName.toLowerCase()}.png` %>" alt="">   
                        <section>
                    </div>
                    <div class = 'firstLeft westTwoSeven click1'>
                        <section class = 'matchupWest'>
                            
                            <img class='west2nd' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west2ndName.toLowerCase()}.png` %>" alt="">    
                            
                            <section class = gamesPlayed>
                                <% topSeedWins = 0 %>
                                <% lowSeedWins = 0 %>
                                <% for (let i = 0; i < west2nd7thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+west2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west2nd7thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west2nd7thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+west2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west2nd7thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west2nd7thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %> 
                                    <% } %>    
                            </section>

                            <img class = 'west7th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west7thName.toLowerCase()}.png` %>" alt="">    
                        </section>
                    </div>
                    <div class = 'firstLeft westThreeSix click1'>
                        <section class = 'matchupWest'>
                            
                            <img class='west3rd' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west3rdName.toLowerCase()}.png` %>" alt="">    
                            
                            <section class = gamesPlayed>
                                <% topSeedWins = 0 %>
                                <% lowSeedWins = 0 %>
                                <% for (let i = 0; i < west3rd6thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+west3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west3rd6thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west3rd6thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+west3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west3rd6thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west3rd6thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %> 
                                    <% } %>  
                            </section>

                            <img class = 'west6th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west6thName.toLowerCase()}.png` %>" alt="">   
                        </section>
                    </div>
                </section>

                <section class = 'secondRound left'>

                    <% const west1st8th4th5thMatchup = playoffMatchups.find(item => (item.team1 === `${west1st8thWinner}` && item.team2 === `${west4th5thWinner}`) || (item.team1 === `${west4th5thWinner}` && item.team2 === `${west1st8thWinner}`)) %>
                    <% const west1st8th4th5thWinner = west1st8th4th5thMatchup.team1Wins === '4' ? west1st8th4th5thMatchup.team1 : west1st8th4th5thMatchup.team2; %>
                    <% const west2nd7th3rd6thMatchup = playoffMatchups.find(item => (item.team1 === `${west2nd7thWinner}` && item.team2 === `${west3rd6thWinner}`) || (item.team1 === `${west3rd6thWinner}` && item.team2 === `${west2nd7thWinner}`)) %>
                    <% const west2nd7th3rd6thWinner = west2nd7th3rd6thMatchup.team1Wins === '4' ? west2nd7th3rd6thMatchup.team1 : west2nd7th3rd6thMatchup.team2; %>
                   

                    <div class = 'secondLeft westUpper click2'>
                        <section class = 'matchupSecondWest'>
                            <img class = 'west1st8thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west1st8thWinner.toLowerCase()}.png` %>" alt="">
                            <section class = gamesPlayed>
                                <% topSeedWins = 0 %>
                                <% lowSeedWins = 0 %>
                                <% for (let i = 0; i < west1st8th4th5thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+west1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west1st8th4th5thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west1st8th4th5thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+west1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west1st8th4th5thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west1st8th4th5thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %> 
                                    <% } %>  
                            </section>
                            <img class = 'west4th5thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west4th5thWinner.toLowerCase()}.png` %>" alt="">
                        </section>
                    </div>
                    <div class = 'secondLeft westLower click2'>
                        <section class = 'matchupSecondWest '>
                            <img class = 'west2nd7thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west2nd7thWinner.toLowerCase()}.png` %>" alt="">
                            <section class = gamesPlayed>
                                <% topSeedWins = 0 %>
                                <% lowSeedWins = 0 %>
                                <% for (let i = 0; i < west2nd7th3rd6thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+west2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west2nd7th3rd6thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=west2nd7th3rd6thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+west2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +west2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west2nd7th3rd6thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=west2nd7th3rd6thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${west2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${west2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %> 
                                    <% } %>  
                            </section>
                            <img class = 'west3rd6thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west3rd6thWinner.toLowerCase()}.png` %>" alt="">
                        </section>
                    </div>
                </section>

                <section class = 'thirdRound left'>

                    <% const westFinalistMatchup = playoffMatchups.find(item => (item.team1 === `${west1st8th4th5thWinner}` && item.team2 === `${west2nd7th3rd6thWinner}`) || (item.team1 === `${west2nd7th3rd6thWinner}` && item.team2 === `${west1st8th4th5thWinner}`)) %>
                    <% const westFinalistWinner = westFinalistMatchup.team1Wins === '4' ? westFinalistMatchup.team1 : westFinalistMatchup.team2; %>

                    <div class = 'thirdWest westFinal click3'>
                        <section class = 'matchupThirdWest'>
                            <img class = 'west1st8th4th5thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west1st8th4th5thWinner.toLowerCase()}.png` %>" alt="">

                            <section class = gamesPlayed>
                                <% topSeedWins = 0 %>
                                <% lowSeedWins = 0 %>
                                <% for (let i = 0; i < westFinalistMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+westFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim() > +westFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=westFinalistMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${westFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${westFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=westFinalistMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${westFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${westFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+westFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim() > +westFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=westFinalistMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${westFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${westFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=westFinalistMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${westFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${westFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %> 
                                    <% } %>  
                            </section>

                            <img class = 'west2nd7th3rd6thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west2nd7th3rd6thWinner.toLowerCase()}.png` %>" alt="">
                        </section>
                    </div>
                </section>
                
                <section class = 'finals click4'>

                    

                    <img class = 'westFinalistWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${westFinalistWinner.toLowerCase()}.png` %>" alt="">
                    <div class = 'blank'>
                       
                    </div>
                    <div class = 'border'>
                       
                    </div>
                    
                </section>
            </section>

    
    

   

        
    <% const east1st8thMatchup = playoffMatchups.find(item => (item.team1 === east1stName && item.team2 === east8thName) || (item.team2 === east1stName && item.team1 === east8thName)) %>
    <% const east1st8thWinner = east1st8thMatchup.team1Wins > east1st8thMatchup.team2Wins ? east1st8thMatchup.team1 : east1st8thMatchup.team2Wins; %>

    <% console.log(east1st8thMatchup) %>

    <% const east4th5thMatchup = playoffMatchups.find(item => (item.team1 === east4thName && item.team2 === east5thName) || (item.team2 === east4thName && item.team1 === east5thName)) %>
    <% const east4th5thWinner = east4th5thMatchup.team1Wins > east4th5thMatchup.team2Wins ? east4th5thMatchup.team1 : east4th5thMatchup.team2Wins; %>

    <% const east2nd7thMatchup = playoffMatchups.find(item => (item.team1 === east2ndName && item.team2 === east7thName) || (item.team1 === east7thName && item.team2 === east2ndName)) %>
    <% const east2nd7thWinner = east2nd7thMatchup.team1Wins > east2nd7thMatchup.team2Wins ? east2nd7thMatchup.team1 : east2nd7thMatchup.team2Wins; %>

    <% const east3rd6thMatchup = playoffMatchups.find(item => (item.team1 === east3rdName && item.team2 === east6thName) || (item.team1 === east6thName && item.team2 === east3rdName)) %>
    <% const east3rd6thWinner = east3rd6thMatchup.team1Wins > east3rd6thMatchup.team2Wins ? east3rd6thMatchup.team1 : east3rd6thMatchup.team2; %>

  

        
    <% const east1st8th4th5thMatchup = playoffMatchups.find(item => (item.team1 === `${east1st8thWinner}` && item.team2 === `${east4th5thWinner}`) || (item.team1 === `${east4th5thWinner}` && item.team2 === `${east1st8thWinner}`)) %>
    <% const east1st8th4th5thWinner = east1st8th4th5thMatchup.team1Wins === '4' ? east1st8th4th5thMatchup.team1 : east1st8th4th5thMatchup.team2; %>
    <% const east2nd7th3rd6thMatchup = playoffMatchups.find(item => (item.team1 === `${east2nd7thWinner}` && item.team2 === `${east3rd6thWinner}`) || (item.team1 === `${east3rd6thWinner}` && item.team2 === `${east2nd7thWinner}`)) %>
    <% const east2nd7th3rd6thWinner = east2nd7th3rd6thMatchup.team1Wins === '4' ? east2nd7th3rd6thMatchup.team1 : east2nd7th3rd6thMatchup.team2; %>

        <!-- east champ -->
    <% const eastFinalistMatchup = playoffMatchups.find(item => (item.team1 === `${east1st8th4th5thWinner}` && item.team2 === `${east2nd7th3rd6thWinner}`) || (item.team1 === `${east2nd7th3rd6thWinner}` && item.team2 === `${east1st8th4th5thWinner}`)) %>
    <% const eastFinalistWinner = eastFinalistMatchup.team1Wins === '4' ? eastFinalistMatchup.team1 : eastFinalistMatchup.team2; %>

            <section class = 'champion'>

                <% const finalsMatchup = playoffMatchups.find(item => (item.team1 === `${eastFinalistWinner}` && item.team2 === `${westFinalistWinner}`) || (item.team1 === `${westFinalistWinner}` && item.team2 === `${eastFinalistWinner}`)) %>
                <% const finalsChampion = finalsMatchup.team1Wins === '4' ? finalsMatchup.team1 : finalsMatchup.team2; %>

                <img class = 'finalsChampion' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${finalsChampion.toLowerCase()}.png` %>" alt="">
            </section>
            <section class="statsContainer">
                <section id="stats" class="hidden">
                  <span class="record"></span> Top Performers
                  <section class="Players">
                    <% for (let i = 0; i <= 5; i++) { %>
                    <section class="player<%= i %>">
                      <span class="playerName"></span>
                      <span class="gp"></span>
                      <span class="mpg"></span>
                      <span class="ppg"></span>
                      <span class="rpg"></span>
                      <span class="apg"></span>
                      <span class="spg"></span>
                      <span class="bpg"></span>
                      <span class="fg_pct"></span>
                      <span class="three_pct"></span>
                      <span class="ft_pct"></span>
                      <span class="ts_pct"></span>
                      <span class="ws"></span>
                      <span class="bpm"></span>
                      <span class="vorp"></span>
                    </section>
                    <% } %>
                  </section>
                </section>
              </section>
                            
            <section class = 'eastWinner click4'></section>
           <section class = 'eastConference east'>
                
                <section class = 'finalsEast '>
                            
                    <img class = 'eastFinalistWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${eastFinalistWinner.toLowerCase()}.png` %>" alt="">
                    <div class = 'blank'>
                    </div>
                    <div class = 'border'>

                    </div>
                </section>
                <section class = 'thirdRound east'>
                    <div class = 'thirdEast eastFinal click3'>
                        <section class = 'matchupThird'>
                            
                            <img class = 'east1st8th4th5thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east1st8th4th5thWinner.toLowerCase()}.png` %>" alt="">        
                            
                            <section class = gamesPlayed>
                                <% topSeedWins = 0 %>
                                <% lowSeedWins = 0 %>
                                <% for (let i = 0; i < eastFinalistMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+eastFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim() > +eastFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=eastFinalistMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${eastFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${eastFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=eastFinalistMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${eastFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${eastFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+eastFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim() > +eastFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=eastFinalistMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${eastFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${eastFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=eastFinalistMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${eastFinalistMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${eastFinalistMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %> 
                                    <% } %>  
                            </section>

                            <img class = 'east2nd7th3rd6thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east2nd7th3rd6thWinner.toLowerCase()}.png` %>" alt="">
                        </section>
                    </div>
                </section>
                <section class = 'secondRound east'>
                    <div class = 'secondEast eastUpper click2'>
                        <section class = 'matchupSecond'>
                                
                            <img class = 'east1st8thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east1st8thWinner.toLowerCase()}.png` %>" alt="">
                                
                            <section class = gamesPlayed>
                                <%  topSeedWins = 0 %>
                                <%  lowSeedWins = 0 %>
                                <% for (let i = 0; i < east1st8th4th5thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+east1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=east1st8th4th5thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=east1st8th4th5thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+east1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east1st8th4th5thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east1st8th4th5thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east1st8th4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east1st8th4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %>
                               <% } %>     
                                </section>
                                
                            <img class = 'east4th5thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east4th5thWinner.toLowerCase()}.png` %>" alt="">
                        </section>
                    </div>
                    <div class = 'secondEast eastLower click2'>
                        <section class = 'matchupSecond'>
                                
                            <img class = 'east2nd7thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east2nd7thWinner.toLowerCase()}.png` %>" alt="">
                           
                            <section class = gamesPlayed>
                                <%  topSeedWins = 0 %>
                                <%  lowSeedWins = 0 %>
                                <% for (let i = 0; i < east2nd7th3rd6thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+east2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=east2nd7th3rd6thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=east2nd7th3rd6thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+east2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east2nd7th3rd6thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east2nd7th3rd6thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east2nd7th3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east2nd7th3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %>
                               <% } %>     
                                </section>
                               
                            <img class = 'east3rd6thWinner' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east3rd6thWinner.toLowerCase()}.png` %>" alt="">
                        </section>
                    </div>
                </section>

                <section class = 'firstRound east'>
                    <div class = 'firstEast eastOneEight click1' >
                        <section class = 'matchup'>
                            
                                <img class='east1st' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east1stName.toLowerCase()}.png` %>" alt="">    

                                <section class = gamesPlayed>
                                <%  topSeedWins = 0 %>
                                <%  lowSeedWins = 0 %>
                                <% for (let i = 0; i < east1st8thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+east1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=east1st8thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=east1st8thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+east1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east1st8thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east1st8thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east1st8thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east1st8thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %>
                               <% } %>     
                                </section>
                            
                            <img class = 'east8th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east8thName.toLowerCase()}.png` %>" alt="">  
                        </section>
                    </div>
                    <div class = 'firstEast eastFourFive click1'>
                        <section class = 'matchup '>
                            
                                <img class='east4th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east4thName.toLowerCase()}.png` %>" alt="">   
                                
                                <section class = gamesPlayed>
                                    <%  topSeedWins = 0 %>
                                <%  lowSeedWins = 0 %>
                                <% for (let i = 0; i < east4th5thMatchup.gameScores.length; i++) { %>
                                    <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                        <% if (+east4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                            <% topSeedWins = topSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=east4th5thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <%lowSeedWins = lowSeedWins + 1 %>
                                            <span class="game<%=i+1%> game <%=east4th5thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } %>
                                        <% } else { %>
                                            <% if (+east4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east4th5thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% } else { %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east4th5thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east4th5thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east4th5thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                            <% }   %>  
                                        <% } %>
                               <% } %>       
                                </section>
                            
                            <img class = 'east5th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east5thName.toLowerCase()}.png` %>" alt="">  
                        </section>
                    </div>
                    <div class = 'firstEast eastTwoSeven click1'>
                        <section class = 'matchup '>
                            
                                <img class='east2nd' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east2ndName.toLowerCase()}.png` %>" alt="">    

                                <section class = gamesPlayed>
                                    <%  topSeedWins = 0 %>
                                    <%  lowSeedWins = 0 %>
                                    <% for (let i = 0; i < east2nd7thMatchup.gameScores.length; i++) { %>
                                        <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                            <% if (+east2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east2nd7thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                                <% } else { %>
                                                    <%lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east2nd7thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                                <% } %>
                                            <% } else { %>
                                                <% if (+east2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                    <% lowSeedWins = lowSeedWins + 1 %>
                                                    <span class="game<%=i+1%> game <%=east2nd7thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                                <% } else { %>
                                                    <% topSeedWins = topSeedWins + 1 %>
                                                    <span class="game<%=i+1%> game <%=east2nd7thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east2nd7thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east2nd7thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                                <% }   %>  
                                            <% } %>
                                   <% } %>      
                                </section>
                            
                            <img class = 'east7th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east7thName.toLowerCase()}.png` %>" alt="">  
                        </section>
                    </div>
                    <div class = 'firstEast eastThreeSix click1'>
                        <section class = 'matchup '>
                            
                                <img class='east3rd' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east3rdName.toLowerCase()}.png` %>" alt="">   
                                
                                <section class = gamesPlayed>
                                    <%  topSeedWins = 0 %>
                                    <%  lowSeedWins = 0 %>
                                    <% for (let i = 0; i < east3rd6thMatchup.gameScores.length; i++) { %>
                                        <% if (i == 0 || i == 1 || i == 4 || i == 6){ %>   <!-- make sure that -->
                                            <% if (+east3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                <% topSeedWins = topSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east3rd6thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                                <% } else { %>
                                                    <%lowSeedWins = lowSeedWins + 1 %>
                                                <span class="game<%=i+1%> game <%=east3rd6thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                                <% } %>
                                            <% } else { %>
                                                <% if (+east3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim() > +east3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()){ %>
                                                    <% lowSeedWins = lowSeedWins + 1 %>
                                                    <span class="game<%=i+1%> game <%=east3rd6thMatchup.team2.toLowerCase()%>Win lowSeedWin<%=lowSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                                <% } else { %>
                                                    <% topSeedWins = topSeedWins + 1 %>
                                                    <span class="game<%=i+1%> game <%=east3rd6thMatchup.team1.toLowerCase()%>Win topSeedWin<%=topSeedWins%>">▶<span class="toolTipText"><%= `Game ${i+1}: ${east3rd6thMatchup.gameScores[i].awayTeam.slice(-3).trim()}-${east3rd6thMatchup.gameScores[i].homeTeam.slice(-3).trim()} ` %></span></span>
                                                <% }   %>  
                                            <% } %>
                                   <% } %>      
                                </section>
                                
                            <img class = 'east6th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east6thName.toLowerCase()}.png` %>" alt="">  
                        </section>
                        
                    </div>
                </section>
           </section>
            
        </main>
        
        <footer>
            
            <section class = 'westLotto'>
                <% const west9th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '9th')); %>
                <% const west9thName = teamNames[info.indexOf(west9th)].slice(0,3) %>
                <% const west10th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '10th')); %>
                <% const west10thName = teamNames[info.indexOf(west10th)].slice(0,3) %>
                <% const west11th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '11th')); %>
                <% const west11thName = teamNames[info.indexOf(west11th)].slice(0,3) %>
                <% const west12th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '12th')); %>
                <% const west12thName = teamNames[info.indexOf(west12th)].slice(0,3) %>
                <% const west13th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '13th')); %>
                <% const west13thName = teamNames[info.indexOf(west13th)].slice(0,3) %>
                <% const west14th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '14th')); %>
                
                <% if (west14th){ %>
                    <% west14thName =  teamNames[info.indexOf(west14th)].slice(0,3)  %>
                <% } else { west14thName = ''} %>

                <% const west15th = info.find(collection => collection.some(item => item.conference === 'west' && item.seed === '15th')); %>
                <% let west15thName %>
                <% if (west15th){ %>
                    <% west15thName =  teamNames[info.indexOf(west15th)].slice(0,3)  %>
                <% } else { west15thName = ''} %>
                <section class = 'Playin'>
                    <img class = 'west9th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west9thName.toLowerCase()}.png` %>" alt="">
                    <img class = 'west10th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west10thName.toLowerCase()}.png` %>" alt="">
                </section>
                <section class = 'westMissedPlayoffs'>
                    <img class = 'west11th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west11thName.toLowerCase()}.png` %>" alt="">
                    <img class = 'west12th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west12thName.toLowerCase()}.png` %>" alt="">
                    <img class = 'west13th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west13thName.toLowerCase()}.png` %>" alt="">
                    <img class = 'west14th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west14thName.toLowerCase()}.png` %>" alt="">
                    
                    <img class = 'west15th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${west15thName.toLowerCase()}.png` %>" alt="">
                  
                </section>
            </section>
            <section class = 'eastLotto'>
                <% const east9th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '9th')); %>
                <% const east9thName = teamNames[info.indexOf(east9th)].slice(0,3) %>
                <% const east10th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '10th')); %>
                <% const east10thName = teamNames[info.indexOf(east10th)].slice(0,3) %>
                <% const east11th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '11th')); %>
                <% const east11thName = teamNames[info.indexOf(east11th)].slice(0,3) %>
                <% const east12th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '12th')); %>
                <% const east12thName = teamNames[info.indexOf(east12th)].slice(0,3) %>
                <% const east13th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '13th')); %>
                <% const east13thName = teamNames[info.indexOf(east13th)].slice(0,3) %>

                <% const east14th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '14th')); %>
                <% if (east14th){ %>
                    <% east14thName =  teamNames[info.indexOf(east14th)].slice(0,3)  %>
                <% } else { east14thName = ''} %>

                <% const east15th = info.find(collection => collection.some(item => item.conference === 'east' && item.seed === '15th')); %>
                <% let east15thName %>
                <% if (east15th){ %>
                    <% east15thName =  teamNames[info.indexOf(east15th)].slice(0,3)  %>
                <% } else { east15thName = ''} %>
                
                
                
                <section class = 'Playin'>
                    <img class = 'east9th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east9thName.toLowerCase()}.png` %>" alt="">
                    <img class = 'east10th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east10thName.toLowerCase()}.png` %>" alt="">
                </section>
                <section class = 'eastMissedPlayoffs'>
                    <img class = 'east11th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east11thName.toLowerCase()}.png` %>" alt="">
                    <img class = 'east12th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east12thName.toLowerCase()}.png` %>" alt="">
                    <img class = 'east13th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east13thName.toLowerCase()}.png` %>" alt="">
                    <img class = 'east14th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east14thName.toLowerCase()}.png` %>" alt="">
                    
                    <img class = 'east15th' src="<%= `https://res.cloudinary.com/doer2p9vb/image/upload/v1682978196/nba-logos/${imagePath}/${east15thName.toLowerCase()}.png` %>" alt="">
                  
                </section>
            </section>
        </footer>
		<script type="text/javascript" src="../js/new.js"></script> 
	</body>
</html>
